:root {
  --color-primary-green: #819b57;
  --color-primary-brown: #31261a;
  --color-primary-beige: #faf4ea;
  --color-secondary-green: #465929;
  --color-secondary-brown: #a18268;
  --color-secondary-beige: #cfcfbc;
}
