.chefs-sections {
  &__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__title {
    position: relative;
    margin-bottom: 80px;
    margin: 0 auto 80px;

    font-size: 64px;
    line-height: 1.3125;
    text-align: center;
  }

  &__title::before,
  &__title::after {
    position: absolute;
    bottom: 24px;
    content: "";
    display: block;
    width: 352px;
    height: 0;
    border: 2px solid var(--color-secondary-beige);
  }

  &__title::before {
    left: 0px;
  }

  &__title::after {
    right: 0px;
  }
}
