.contact-section {
  padding-top: 48px;
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.3;
    margin-bottom: 16px;
    max-width: 800px;
  }

  &__text {
    margin-bottom: 42px;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }

  &__map {
    width: 600px;
    height: 595px;
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
  }
}
