.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
  flex-grow: 1;
}

.footer {
  position: relative;
  background-image: url(../images/footer-bg-img.png);
  background-color: var(--color-primary-brown);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
}

.footer::before {
  background-image: url(../images/decor-backery-small.png);
  width: 180px;
  height: 120px;
  left: 0;
}

.footer::after {
  background-image: url(../images/decor-backery-large.png);
  width: 380px;
  height: 190px;
  right: 0;
}
