.footer {
  position: relative;
  background-image: url(../images/footer-bg-img.png);
  background-color: var(--color-primary-brown);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
  }

  &::before {
    background-image: url(../images/decor-backery-small.png);
    width: 180px;
    height: 120px;
    left: 0;
  }

  &::after {
    background-image: url(../images/decor-backery-large.png);
    width: 380px;
    height: 190px;
    right: 0;
  }

  &__container {
    display: flex;
    gap: 20px;
  }

  &__nav,
  &__address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__address-contacts {
    max-width: 200px;
    margin-right: 166px;
  }

  &__address-link {
    color: var(--color-primary-beige);
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 16px;
    transition: color 0.3s;
  }

  &__address-link:hover {
    color: var(--color-primary-green);
  }

  &__social-media-icon {
    display: flex;
    gap: 22px;
  }

  &__address-icon {
    fill: var(--color-primary-beige);
    transition: fill 0.3s;
  }

  &__address-icon:hover {
    fill: var(--color-primary-green);
  }

  &__address-copyright {
    color: var(--color-secondary-brown);
    font-style: 14px;
  }
}
